* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    background-image: url('./img/4266183_17015.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 120%;
}

@media screen and (min-width: 601px) {
    .brand {
      font-size: 2em;
    }

    #preview {
        font-size: 2.8em;
    }

    #LCD-top {
        font-size: 2.2em;
    }
    
    #calc {
        font-size: 6em;
    }

    .number, .operator {
        font-size: 2em;
    }
  }

@media screen and (max-width: 600px) {
    #calc {
    font-size: 4em;
    }

    #preview {
        font-size: 1.8em;
    }

    #LCD-top {
        font-size: 1.3em;
    }

    footer {
        font-size: x-small;
    }
}


.top-band, .bottom-band {
    background-color: #0f0f0f;
    width: 70%;
    max-width: 470px;
    min-width: 260px;
    height: 25%;
}

.top-band {
    clip-path: polygon(15% 0%, 85% 0%, 95% 100%, 5% 100%);
}

.container {
    clip-path: polygon(90% 100%, 100% 85%, 100% 15%, 90% 0%, 10% 0%, 0% 15%, 0% 85%, 10% 100%);
    background-color: #252525;
    width: 80%;
    max-width: 550px;
    min-width: 280px;
    height: 50%;
    min-height: 50%;
    border: 20px solid #252525;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.watch-face {
    height: 90%;
    width: 95%;
    padding: 0;
    border: 1px solid #333333;
    border-radius: 15%;
    box-shadow: 0px 0px 3px 25px #383838;
}

.top {
    height: 40%;
    padding: 2% 5%;
    background-color: #0f0f0f;
    border: 5px solid black;
    border-radius: 15% 15% 5% 5%;
}

.brand {
    height: 20%;
    color: snow;
}

@font-face {
    font-family: 'digital-7-mono';
    src: url('./fonts/digital-7.mono.ttf');
}

.display {
    height: 80%;
    line-height: 80%;
    background-color: rgb(170, 175, 170);
    border-radius: 7px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'digital-7-mono';
}

#LCD-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

#LCD-top, #preview {
    display: flex;
    height: 20%;
}

#preview {
    justify-content: flex-end;
    align-items: center;
    margin-top: 1%;
}

#calc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
    width: 95%;
    height: 60%;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'digital-7-mono';
}

.bottom {
    padding: 2% 2% 5% 2%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #0f0f0f;
    border: 5px solid #000000;
    border-radius: 5% 5% 15% 15%;
}

.bottom-band {
    clip-path: polygon(5% 0%, 95% 0%, 85% 100%, 15% 100%);
}

.grid-item {
    display: flex;
    color: snow;
    border-bottom: 2px solid snow;  
}

.number, .operator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.button-div {
    display: flex;
    align-items: center;
    width: 70%;
}

.button {
    margin-left: 10%;
    width: 75%;
    height: 50%;
    border-top: 2px solid #555555;
    border-left: 2px solid #555555;
    border-bottom: 0;
    border-right: 0;
    box-shadow: 5px 5px #202020;
    border-radius: 30%;
    background-color: #333333;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    box-shadow: 2px 2px #202020;
    transition: all 0.1s;
    transform: translateY(4px);
    transform: translateX(4px);
}

.operator {
    color: firebrick;
    font-size: xx-large;
    font-weight: 1000;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}